@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

.active hr {
  display: block;
}

::-webkit-scrollbar {
  visibility: hidden;
}
* {
  font-family: Outfit, sans-serif, serif;
}
.grid-template-cols {
  grid-template-columns: repeat(outfit, minmax(200, 1fr));
}
